<% include ../partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To Burger Stop!</h1>
            <p>View our hand-picked burgers from all over the world</p>
            <p>
                <a class="btn add-new-btn" href="/burgers/new">Add a new burger <i class="fas fa-plus"></i></a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% burgers.forEach((burger)=>{ %>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card">
                    <a href="/burgers/<%= burger._id %>">
                        <img class="burger-img" src="<%= burger.picture.url %>"> 
                    </a>
                    <div class="card-body">
                        <a class="burger-link" href="/burgers/<%= burger._id %>">
                            <h4><%= burger.name %></h4>
                        </a>
                        <p><%= burger.restaurant %></p>
                        <a class="burger-link" href="/users/<%= burger.author.id %>">
                            <h5>Made by <%= burger.author.username %></h5>
                        </a>
                        <p value="<%= burger.stars %>" class="p-stars">
                            <i class="fas fa-star bgs-star"></i>
                            <i class="fas fa-star bgs-star"></i>
                            <i class="fas fa-star bgs-star"></i>
                            <i class="fas fa-star bgs-star"></i>
                            <i class="fas fa-star bgs-star"></i>
                        </p>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>
<script src="/scripts/indexStars.js"></script>
<% include ../partials/footer %>
