<% include ../partials/header %>
    <div class="container user-container">
        <div class="jumbotron bg-indx-jumbo">
            <div class="row">
                <div class="col-md-7 jumb-h-col">
                    <h1 class="bg-indx-h">All Burger Reviews</h1>
    
                </div>
                <div class="col-md-5 add-rev-col">
                    <p>
                        <a class="btn add-new-btn" href="/burgers/new">Add a new review <i class="fas fa-plus"></i></a>
                    </p>
                </div>
            </div>
        </div>
    
    
    

    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% burgers.forEach((burger)=>{ %>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card burger-card">
                    <div class="burger-pic-div">
                        <a href="/burgers/<%= burger._id %>">
                            <img class="burger-img" src="<%= burger.picture.url %>"> 
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="centered">
                            <a class="burger-link" href="/burgers/<%= burger._id %>">
                                <h3><%= burger.name %></h3>
                            </a>
                            <p><%= burger.restaurant %></p>
                        </div>
                        <p value="<%= burger.stars %>" class="p-stars">
                            <i class="fas fa-star bgs-star"></i>
                            <i class="fas fa-star bgs-star"></i>
                            <i class="fas fa-star bgs-star"></i>
                            <i class="fas fa-star bgs-star"></i>
                            <i class="fas fa-star bgs-star"></i>
                        </p>
                        <p>Review by 
                            <a href="/users/<%= burger.author.id %>" class="burger-link">
                                @<%= burger.author.username %>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>
<script src="/scripts/indexStars.js"></script>
<% include ../partials/footer %>
