<% include ../partials/header %>
<div class="container burger-container">
    <div class="row burger-row">
        <div class="col-lg-7 content-col">
            <div class="row">
                <div class="col-lg-6">
                    <h2><%= burger.name %></h2>
                    <p><%= burger.restaurant %></p>
                    <img class="burger-page-img" src="<%= burger.picture.url %>">
                </div>
                <div class="col-lg-6">
                    <div class="burger-about">
                        <p value="<%= burger.stars %>" class="p-stars">
                            <i class="fas fa-star bgs-star"></i>
                            <i class="fas fa-star bgs-star"></i>
                            <i class="fas fa-star bgs-star"></i>
                            <i class="fas fa-star bgs-star"></i>
                            <i class="fas fa-star bgs-star"></i>
                        </p>
                        <% if(burger.date.edited){ %>
                            <p><i class="far fa-clock"></i> <%= burger.date.edited %></p>
                        <% } else { %>
                            <p><i class="far fa-clock"></i> <%= burger.date.posted %></p>
                        <% } %>
                        <h5>Review</h5>
                        <div class="review-div">
                            <p class="review"><%= burger.description %></p>
                        </div>
                        <div class="burger-bottom">
                            <p class="burger-cost">I paid $<%= burger.price %>  </p>
                            <p class="review-by">Review by 
                                <a href="/users/<%= burger.author.id %>" class="burger-author"> <%= burger.author.username %></a>
                            </p>
                            
                            <div class="burg-options">
                                <% if(currentUser && burger.author.id.equals(currentUser._id)){ %>
                                    <a class="edit-burg-btn" href="/burgers/<%= burger._id %>/edit">Edit <i class="far fa-edit"></i></a>
                                    <form class="deleteForm" action="/burgers/<%= burger._id %>?_method=DELETE" method="POST">
                                        <button  class="delete-burg-btn">Delete <i class="fas fa-trash"></i></button>
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
        <div class="col-lg-5 map-col">
            <div class="address">
                <h3 class="address-heading"><i class="fas fa-map-signs"></i> Location</h3>
                <p class="address-p"><%= burger.restaurant %>, <%= burger.location %></p>
            </div>
            <div id="map"></div>
        </div>
        <div class="comments">
            <div class="comm-header">
                <h3>Comments <i class="fas fa-comments"></i></h3>
            </div>
            <div class="row com-row">
                <% burger.comments.forEach((comment)=>{ %> 
                    <div class="col-9 com-content">
                        <a class="burger-author com-author" href="/users/<%= comment.author.id %>"><%= comment.author.username %></a>
                        <p><%= comment.text %></p>
                        <% if(comment.date.edited){ %>
                            <p><i class="far fa-clock"></i> <%= comment.date.edited %></p>
                        <% } else { %>
                            <p><i class="far fa-clock"></i> <%= comment.date.posted %></p>
                        <% } %>
                    </div>
                    <div class="col-3 com-options-col">
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-cog"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <a class="dropdown-item edit-comm-btn" href="/burgers/<%= burger._id %>/comments/<%= comment._id %>/edit" 
                                    >Edit <i class="far fa-edit"></i></a>
                                    <form action="/burgers/<%= burger._id %>/comments/<%= comment._id %>?_method=DELETE" 
                                        method="POST" class="deleteForm">
                                        <button class="delete-comm-btn">Delete <i class="fas fa-trash"></i></button>
                                    </form>
                                </div>
                            </div>
                        <% } %>
                    </div>
                <% }) %> 
            </div>
            <div class="new-comment">
                <h4>New comment</h4>
                <form action="/burgers/<%= burger._id %>/comments" method="POST">
                    <div class="form-group">
                        <textarea class="form-control" rows="2" placeholder="Your comment here" name="comment[text]"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="lg-rg-btn">Submit <i class="fas fa-comment-medical"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function initMap() {
        var lat = <%= burger.lat %>;
        var lng = <%= burger.lng %>;
        var center = {lat: lat, lng: lng};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: center,
            scrollwheel: true 
        });
        var contentString = `
            <strong><%= burger.name %><br />
            <%= burger.location %></strong>
            <p><%= burger.description %></p>
        `
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map 
        });
        marker.addListener("click", function(){
            infowindow.open(map, marker)
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= key %>&callback=initMap"></script>
<script src="/scripts/indexStars.js"></script>
<% include ../partials/footer %>