<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= burger.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">$<%= burger.price %>/night</h4>
                    <h4><a><%= burger.name %></a></41>
                    <p><%= burger.description %></p>
                    <p>
                        <em>Submitted By<a href="/users/<%= burger.author._id %>" <%= burger.author.username %></a></em>
                    </p>
                    <% if(currentUser && burger.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-warning" href="/burgers/<%= burger._id %>/edit" class="btn btn-warning">Edit burger</a>
                        <form class="deleteForm" action="/burgers/<%= burger._id %>?_method=DELETE" method="POST">
                            <button  class="btn btn-danger">Delete Burger</button>
                        </form>
                    <% } %>
                    
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/burgers/<%= burger._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% burger.comments.forEach((comment)=>{ %> 
                    <div class="row">
                        <div class="col-md-12">
                           <strong><%= comment.author.username %></strong>
                           <span class="pull-right">10 days ago</span>
                           <p>
                                <%= comment.text %>
                           </p> 
                           <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <a href="/burgers/<%= campground._id %>/comments/<%= comment._id %>/edit" 
                                class="btn btn-xs btn-warning">Edit</a>
                                <form action="/burgers/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" 
                                    method="POST" class="deleteForm">
                                    <button class="btn btn-xs btn-danger">Delete Comment</button>
                                </form>
                           <% } %>
                        </div>
                    </div>
                <% }) %> 
            </div>
        </div>
        <div class="col-md-4 map-col">
            <div id="map"></div>
        </div>
    </div>
</div>

<script>
    function initMap() {
        var lat = <%= burger.lat %>;
        var lng = <%= burger.lng %>;
        var center = {lat: lat, lng: lng};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false 
        });
        var contentString = `
            <strong><%= burger.name %><br />
            <%= burger.location %></strong>
            <p><%= burger.description %></p>
        `
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map 
        });
        marker.addListener("click", function(){
            infowindow.open(map, marker)
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe65uJ-u0oRsnx5Zp8edB607o1nr09Wl4&callback=initMap"></script>





<% include ../partials/footer %>
